<!-- !DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> reset password for  </h1> 
    <form action="" method="post">
        <label for="password">password</label>
        <input type="password"name="password" id="password">
        <br>
        <label for="password2"> confirm password</label>
        <input type="password"name="password2" id="password2">
        <br>
        <input type="submit" value="reset password">
      
    </form>
    
</body>
</html> -->
<!-- ***************** -->




<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="/assets/css/login.css" rel="stylesheet">


    <title>Reset-Password</title>
   
  </head>
  <body>
    <section class="Form my-4 mx-5">
        <div class="container ">
            <div class="row no-gutters">
                
                      <div class="col-lg-7 ">
                        
                        <h4 class="color">Reset password for <%=email%></h4>
                        <form  action="" method="post">
                            <div class="form-row">
                                <div class="col-lg-7">
                                    <label for="password" class="mt-4 color"> New password:</label>
                                    <input type="password" name="password" id="password" placeholder="password"class="form-control my-2 p-3">
                                    </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-lg-7">
                                            <label for="password2" class="mt-4 color"> Confirm password:</label>
                                            <input type="password" name="password2" id="password2" placeholder="password"class="form-control my-2 p-3">
                                            </div>
                                            </div>
                                    
                                         <div class="form-row">
                                            <div class="col-lg-7">
                                                <button type="submit" class="btn1 mt-3 ">Reset
                                                </button>
                                        </div>
                                        </div>
                        </form>
                    </div>
                </div>
              </div>
    </section>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.js" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </body>
</html>
</html>